In [1]:
import pandas as pd

In [37]:
# Calling DataFrame constructor
#pandas.DataFrame(data, index, columns)
df = pd.DataFrame()
 
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Creation of pandas 

dict1 ={'a':1, 'b':2, 'c':3, 'd':4}   
  
# Define Dictionary 2     
dict2 ={'a':5, 'b':6, 'c':7, 'd':8, 'e':9} 
  
# Define Data with dict1 and dict2
Data = {'first':dict1, 'second':dict2} 
  
# Create DataFrame 
df = pd.DataFrame(Data)  
print(df)

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9

In [35]:
# Using dict of list values
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df_lst = pd.DataFrame(lst)
print(df_lst)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks
    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [38]:
# Dict of ndarrays
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df_dict_lst = pd.DataFrame(data)
 
# Print the output.
print(df_dict_lst)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [40]:
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age'])
  
# print dataframe.
print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [41]:
# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]
  
# Creates DataFrame.
df = pd.DataFrame(data)
  
# Print the data
print(df)

    a   b   c
0   1   2   3
1  10  20  30

In [48]:
# List1
Name = ['tom', 'krish', 'nick', 'juli']
  
# List2
Age = [25, 30, 26, 22]
  
# get the list of tuples from two lists.
# and merge them by using zip().
list_of_tuples = list(zip(Name, Age))
  
# Assign data to tuples.
print(list_of_tuples)
  
  
# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(list_of_tuples,
                  columns=['Name', 'Age'])
  
# Print data.
df

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [51]:
# Initialize data to series.
d =  pd.Series([10, 20, 30, 40])
# creates Dataframe.
df = pd.DataFrame(d)
  
# print the data.
df

    0
1  10
2  20
3  30
4  40

In [52]:
# Initialize data to Dicts of series.
d = {'one': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd']),
     'two': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd'])}
  
# creates Dataframe.
df = pd.DataFrame(d)
  
# print the data.
df

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [5]:
# # getting first value
# print(df['first']['a'])

1.0

In [10]:
# # Resetting the index value
# print(df.reset_index())
# print(df.reset_index(drop=True))

  index  first  second
0     a    1.0       5
1     b    2.0       6
2     c    3.0       7
3     d    4.0       8
4     e    NaN       9
   first  second
0    1.0       5
1    2.0       6
2    3.0       7
3    4.0       8
4    NaN       9

In [53]:
# help(df.iloc)

In [54]:
# # get first row using row position
# print(df.iloc[0, 0])
# # print(df)
# print(df['first'].iloc[0])


# # get 

# print(df.reset_index()['first'][0].tolist())
# print(df.head(1)['first'].tolist()[0]) # it returns in list