In [1]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [2]:
# import pandas as pd
import pandas as pd
 
# simple array
data = ['g','e','e','k','s']
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [6]:
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data)
  
print(ser)
#retrieve the first 5 element
print(ser[0:5])

0     g
1     e
2     e
3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object
0    g
1    e
2    e
3    k
4    s
dtype: object

In [7]:
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
  
  
# accessing a element using index element
print(ser[16])

o

In [19]:
# making data frame  
df = pd.DataFrame({'Name':['a', 'b', 'c', 'd'], 'age': [12, 14, 15, 16]})

print(df)
ser = pd.Series(df['Name']) 
data = ser.head(10)
data 
# Selecting based on index value
print("Value of index")
print(ser[:2])

# Selecting based on iloc
print(ser.iloc[1:6])

  Name  age
0    a   12
1    b   14
2    c   15
3    d   16
Value of index
0    a
1    b
Name: Name, dtype: object
1    b
2    c
3    d
Name: Name, dtype: object

In [20]:
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

In [21]:
# subtracting two series using
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

In [32]:
## Type conversions
# data.dtypes
data = pd.Series([1,2,3,4])
data.name='age'
print(data)
print(data.astype(str) )
# data["age"]= data["age"].astype(str)

0    1
1    2
2    3
3    4
Name: age, dtype: int64
0    1
1    2
2    3
3    4
Name: age, dtype: object

In [39]:
def mul_by_2(a, b,c):
    print(c)
    return a*b

In [40]:
data.apply(mul_by_2, args=[4,3])

3
3
3
3

0     4
1     8
2    12
3    16
Name: age, dtype: int64